<div class="container">
<h4>Editar Medicamentos</h4>
  <section>
    <form>
      <div class="form-group">
        <label for="medicamento">Nome Medicamento: </label>
        <input class="form-control" id="medicamento" [value]=novoNomeMedicamento (input)="setNome($any($event.target).value)">
      </div>
      <div class="form-group">
        <label for="quantidade">Quantidade atual: </label>
        <input class="form-control" id="quantidade" type="number" [value]=newQuantidade (input)="setQuantidade($any($event.target).value)">
      </div>
      <div class="mt-3 d-flex justify-content-between">
        <button [routerLink]="['']" class="btn btn-link" >Voltar</button>
        <button [routerLink]="['']" (click)="EditarMedicamento()" class="btn btn-warning" type="button">Atualizar</button>
      </div>
    </form>
  </section>
</div>
