<p>editar-medicamento-modal works!</p>
{{nomeMedicamento}}
{{novoNomeMedicamento}}
{{newQuantidade}}


<!-- <section class="listing-apply">
    <h2 class="section-heading">Atualizar Lista de Medicamentos</h2>
    <form [formGroup]="applyForm" (submit)="Editar()">
      <label for="first-name">First Name</label>
      <input id="first-name" type="text" formControlName="firstName">

      <label for="last-name">Last Name</label>
      <input id="last-name" type="text" formControlName="lastName">

      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email">
      <button type="submit" class="primary">Apply now</button>
    </form>
  </section> -->

<!-- <div>
    <form>
        <input value={{nomeMedicamentoEditar}} type="text" formControlName="nomeMedicamentoAtual">
        <input type="text" formControlName="newQuantidade">
        
    </form>
</div> -->