<div class="container-fluid">
    <h1>Caixa de Remédios</h1>
    <div>
        <div class="inputs">
            <div class="col-4">
                <div class="mb-1">
                    Nome
                </div>
                <input type="text" class="form-control" [(ngModel)]="medicamento">
            </div>
            <div class="col-4">
                <div class="mb-1">
                    Quantidade
                </div>
                <input type="text" class="form-control" [(ngModel)]="quantidade">
            </div>
        </div>
    </div>
    <div class="d-flex flex-row-reverse">
        <button class="btn btn-primary " (click)="adicionarNovoMedicamento()">
            Adicionar
        </button>
    </div>
    <br>
    <div class="container">
        <h3>Medicamentos Cadastrados</h3>
            <table class="table">
              <thead>
                <th colspan="2">Nome Medicamento</th>
                <th>Quantidade</th>
              </thead>
                <tbody>
                  <tr *ngFor="let medicamento of listaMedicamento; let i = index">
                    <td colspan="2">
                      {{medicamento.nome}}
                  </td>
                  <td>
                    {{medicamento.quantidade}}
                  </td>
                  <td>
                    <button class="btn btn-danger" (click)="excluirMedicamento(i)">Excluir</button>
                  </td>
                  <td>
                    <button [routerLink]="['editar', medicamento.nome, medicamento.quantidade]" class="btn btn-success" (click)="chamarEditar(i)">Editar</button>
                  </td>
                </tr>
              </tbody>
            </table>
    </div>
    <br>
<!--
      <section class="results">
         <app-editar-medicamento-modal></app-editar-medicamento-modal>

         <app-editar-medicamento-modal
                nomeMedicamento={{nomeMedicamentoEditar}}
            novoNomeMedicamento={{nomeMedicamentoEditar}}
            newQuantidade={{quantiaEditar}}></app-editar-medicamento-modal>
      </section> -->
</div>
